<form (ngSubmit)="submitForm()" #employeeForm="ngForm">
  <div class="form-group">
    <label for="name">Name:</label>
    <input
      type="text"
      id="name"
      [(ngModel)]="employee.name"
      name="name"
      required
      class="form-control"
    />
  </div>

  <div class="form-group">
    <label for="companyName">Company Name:</label>
    <input
      type="text"
      id="companyName"
      [(ngModel)]="employee.companyName"
      name="companyName"
      required
      class="form-control"
    />
  </div>

  <div class="form-group">
    <label for="email">Email ID:</label>
    <input
      type="email"
      id="email"
      [(ngModel)]="employee.email"
      name="email"
      required
      class="form-control"
    />
  </div>

  <div class="form-group">
    <label for="contactNo">Contact No.:</label>
    <input
      type="tel"
      id="contactNo"
      [(ngModel)]="employee.contactNo"
      name="contactNo"
      required
      pattern="[0-9]{10}"
      class="form-control"
    />
  </div>

  <div class="form-group">
    <label for="designation">Designation:</label>
    <select
      id="designation"
      [(ngModel)]="employee.designation"
      name="designation"
      required
      class="form-control"
    >
      <option *ngFor="let designation of designations" [value]="designation">
        {{ designation }}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label>Select Avatar:</label>
    <div class="avatar-options">
      <label *ngFor="let avatar of avatars" class="avatar-option">
        <input
          type="radio"
          [(ngModel)]="employee.avatar"
          name="avatar"
          [value]="avatar"
          required
          class="avatar-input"
          ngDefaultControl
        />
        <img
          [src]="'assets/avatars/' + avatar"
          [alt]="avatar"
          class="avatar-img"
        />
      </label>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
